.container {
  max-width: var(--container-width);
  margin: auto;
  padding: var(--space-xl) var(--space-md);
}

section {
  margin-bottom: var(--space-xl);
}

.grid {
  display: grid;
  gap: 32px;
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
